BODY, P, DIV, SPAN, TD, TH, UL, LI, H1, H2, H3, H4 {font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;}

BODY,
BODY.wingo,
BODY.moBar {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	color: #000000;
}
BODY.wingo {
	background:#e8e8e8; /* url(images/bg_left_nav.jpg) repeat-y -2px top; */
	margin-left:98px;
}

BODY.wingoGame {
	background:#173A89 url(images/princeville_bg2.jpg) repeat left top;
}

img {
	border:none;
	vertical-align: bottom;
}

#wingoMenu {
	position:fixed;
	top:0;
	left:0;
	padding-top:24px;
	height: 100%;
	background-image: url(images/bg_left_nav2.jpg);
	box-shadow: 4px 0  4px #777777;
	display:none;
}
#wingoMenu.bg_lg {
	background-image: url(images/princeville_bg2.jpg);
}
BODY.wingo #wingoMenu {
	display:block;
}
BODY.wingoGame #wingoMenu {
	display:block;
	background-image: none;
	box-shadow: inherit;
	background-size: auto;
}

#wingoMenu a {
	display:block;
	padding:5px 0;
	color: white;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size:1.4em;
	line-height: 1.1em;
	text-shadow: 2px 2px 2px #021124;
	margin-top: 5px;
}
#wingoMenu a span {
	display: inline-block;
	padding:0 7px 0 2px;
	font-family: inherit;
}
BODY.moBar #wingoMenu a,
#wingoMenu a.picked,
#wingoMenu a:hover {
	padding:4px 0;
	border-top: 1px solid #cc0033;
	border-right: 2px solid #cc0033;
	border-bottom: 1px solid #cc0033;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 2px 2px 3px midnightBlue;
	text-decoration: none;
	background-color: #668066;
	background-image: url(images/bg_nav_wingo_ie.gif);
	background-size: 100% 100%;
}
#wingoMenu a.picked span,
#wingoMenu a:hover span {
	padding:0 5px 0 2px;
}

H1.wingoHeading,
H1.wingoHeading2 {
	clear:both;
	text-align: center;
	background-color:#ffffcc;
	border: 1px solid #778899;
	font-style: italic;
	font-weight: normal;
	text-shadow: 1px 1px 1px #d3d3d3;
	margin:0;
	border-collapse: collapse;
}
H1.wingoHeading2 {
	background-color:#eeeeee;
	font-weight: normal;
}

DIV.navWingo {
	margin-top: 2px;
}

DIV.navWingo UL {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

DIV.navWingo LI {display: inline;}

DIV.navWingo A {
	float: left;
	text-decoration: none;
}

DIV.navWingo SPAN {
	float: left;
	display: block;
	padding: 2px 8px 1px 8px;
	color: #191970;
	font-size: 0.8em;
	white-space: nowrap;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
DIV.navWingo SPAN {float: none;}
/* End IE5-Mac hack */

DIV.navWingo A:hover {
	text-decoration: none;
	background: url(images/tabs/tab_wingo-right.gif) no-repeat right top;
	background-position: 100% -150px;
}

DIV.navWingo A:hover SPAN {
	background: url(images/tabs/tab_wingo-left.gif) no-repeat left top;
	background-position: 0% -150px;
	color: #191970;
}

DIV.navWingo .current A,
DIV.navWingo .current A:hover {
	background: url(images/tabs/tab_wingo-right.gif) no-repeat right top;
	background-position: 100% 0px;
}

DIV.navWingo .current SPAN,
DIV.navWingo .current A:hover SPAN {
	background: url(images/tabs/tab_wingo-left.gif) no-repeat left top;
	background-position: 0% 0px;
	color: white;
}

.pageWrap {
	clear: both;
	margin: 0 40px;
}

footer,
#footer {
	clear: both;
}
footer a.fs2,
footer a.fs3,
footer td,
#footer td {
	text-shadow: 1px 1px 2px #999999;
}

.leftCol {
	width:69%;
	float:left;
	padding:10px 0;
	overflow: hidden;
}
.rightCol {
	width:28%;
	float:right;
	padding:10px 0;
	overflow: hidden;
}
@media screen and (max-width: 640px) {
	.leftCol,
	.rightCol {
		width:100%;
		float: none;
	}
}

#fbPrivacy {
	display:block;
	position:fixed;
	right:5px;
	bottom:5px;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-weight:bold;
	font-size:13px;
	padding:2px 6px;
	color:#FFFFFF;
	background-color:#5B74A8;
	border:1px solid;
	border-color:#29447E #29447E #1A356E;
	text-decoration:none;
}

.webSkills {
	width:21%;
	float:right;
	margin-top:80px;
	background-color: #dddddd;
	border-radius: 20px;
	box-shadow: 3px 3px 3px #959595;
	font-size:0.85em;
}
.webSkills h3 {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-weight:normal;
	text-align: center;
	margin:10px 0;
}
.webSkills ul {
	margin: 0 0 10px 0;
	padding:0 10px 0 25px;
	font-size:0.9em;
}

.wingoBay {
	margin:20px 0 0 20px;
}

#wingoMobile {
	visibility:hidden;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 100;
	padding:0;
	font-family: Arial, Helvetica, "sans-serif";
	font-size: 22px;
	color: #ffffff;
	text-shadow: 2px 2px 3px #021124;
	background-color: #438880;
	background-image: url(images/water_bg.jpg);
	box-shadow: 0 2px 2px #808080;
}
#wingoMobile a {
	text-decoration: none;
	color: #ffffff;
}
#wingoMobile span {
	float:left;
	font-family: inherit;
	margin:8px 0 0 10px;
	line-height:10px;
}

a#btnMenuOn {
	float: right;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: inherit;
	line-height:26px;
	padding:1px 18px;
	background-color: #668066;
	background-image: url(images/bg_nav_wingo_ie.gif);
	background-size: 100% 100%;
	border-radius: 13px;
	border-left: 3px solid #cc0033;
	border-right: 3px solid #cc0033;
	margin-right: 10px;
}
#btnMenuOn em {
	float:right;
	width: 23px;
	height: 19px;
	background-image:url(images/icons/menu_white_shadow2.png);
	margin:6px 0 0 10px;
}

BODY.moBar #wingoMobile {
	visibility:visible;
}
BODY.wingo .moBar {
	background-image:none;
	margin-left:0;
}
BODY.moBar .wingoBay,
BODY.moBar DIV.navWingo {
	display:none;
}
BODY.moBar #wingoMenu {
	position: relative;
	top:0;
	padding:0 10px 0 10px;
	margin: 0 0 10px 0;
	background: transparent;
	box-shadow: none;
}
BODY.moBar #wingoMenu a {
	text-align: center;
	border-radius: 10px;
	border: 1px solid #cc0033;
}
BODY.moBar #wingoMenu span,
BODY.moBar #wingoMenu a.picked span,
BODY.moBar #wingoMenu a:hover span {
	padding:0;
}
BODY.moBar H1.wingoHeading,
BODY.moBar H1.wingoHeading2 {
	margin-top:10px;
}

@media screen and (max-width: 800px) {
	BODY.wingo {
		background-image:none;
		margin-left:0;
	}
	BODY.wingo #wingoMenu {
		display:none;
	}
	.pageWrap {
		margin: 0 10px;
	}
}
@media screen and (max-width: 520px) {
	footer img.ifWide {
		display:none;
	}
}
@media screen and (max-width: 440px) {
	footer td {
		font-size:1.5em !important;
	}
}

@media print {
	BODY {
		padding:0 !important;
	}
	BODY.wingo {
		background-image:none;
		margin-left:0;
	}
	#wingoMobile {
		visibility:hidden !important;
	}
	.pageWrap {
		max-width:auto;
		margin:0;
	}
	BODY.wingo #wingoMenu,
	#wingoMenu,
	.ieUpgrade,
	.navWingo,
	.myBox {
		display:none !important;
	}
}

INPUT, TEXT, TEXTAREA, SELECT {color: #2b2b2b;}

.sm {font-size: 0.75em;}
.fs-1 {
	font-size: 0.8em;
}
.fs1 {
	font-size: 1.1em;
}
.fs2 {
	font-size: 1.5em;
}
.fs3 {
	font-size: 2.0em;
}

DIV.dashBox {
	clear: both;
	border-top: dashed 1px #dddddd;
	border-bottom: dashed 1px #dddddd;
	background-color : #FFFFFF;
	text-align : center;
	padding : 2px 0;
	font-style : italic;
	font-weight : bold;
	margin-bottom: 5px;
}

.timesRom {font-family : Times New Roman,serif; }
.clean {text-decoration:none;}
.sup {
	font-size: 11px;
	font-style: normal;
	position: relative;
	top: -3px;
}

A:link {
	color: #0000cc;
	text-decoration: none;
}
A:visited {
	color: #0068cc;
	text-decoration: none;
}
A:active {color: #FF0000; text-decoration: none;}
A.cleanBlue, A.cleanBlue:visited {text-decoration:none; color:#000099;}
A.cleanRed, A.cleanRed:visited {text-decoration:none; color:#008080;}
A:hover, A.cleanBlue:hover, A.cleanRed:hover {text-decoration: underline;}

A.wingoLC, A.wingoLC:visited {text-decoration:none; color:#008080;}
A.wingoLC:hover {
	text-decoration: underline;
	background-color: #f5f5f5;
}

.clearFloat {
	clear:both;
}

/* horizontal lines */
DIV.hLine {
	clear: both;
	border-bottom: 1px solid #778899;
}
DIV.hLinePad {
	clear: both;
	border-bottom: 1px solid #778899;
	margin: 10px 0px;
}

.hiLoList {
	padding: 0;
	margin: 5px 0 10px 0;
	list-style: none;
}
.hiLoList li {
	clear:left;
	padding: 1px 1px 1px 22px;
	text-indent: -22px;
	font-size: 0.85em;
}
.hiLoList A.hiFlash {
	padding-left: 22px;
	background: url(images/icon_link_lo.gif) no-repeat left top;
	background-position: 0px 1px;
	font-size: 1.4em;
}
.hiLoList A.hiFlash:hover {background: url(images/icon_link_hi.gif) no-repeat left top;}
.hiLoList A.hiFlash img {
	float:left;
	margin:0 27px 4px -22px;
	vertical-align: top;
}

.myName {
	text-shadow: 1px 1px 1px #d3d3d3;
	font-size: 1.8em;
}

.myBox {
	display:none;
	position:absolute;
	color:#FFFFFF;
	font-family:Verdana;
	font-size:smaller;
	text-align:center;
	border:2px solid #ffffff;
	padding:0.5em;
}

.myBox A {color: #ffffff;}
.myBox A {color: inherit;}
.myBox A:hover {color: #ffffff;}

.ieUpgrade {
	text-align: center;
	font-family: Courier New;
}

.ieUpgrade a {
	padding:2px 5px;
	background:#ffffcc;
	border: 1px solid #d3d3d3;
}

.ieUpgrade a:hover {
	background: #ff3300;
	color:white;
	border: 1px solid yellow;
	text-decoration: none;
}
