BODY, P, DIV, SPAN, TD, TH, UL, LI, H1, H2, H3, H4 {font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;}

BODY {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	color: #000000;
}
BODY.wingo {
	background:#e8e8e8 url(images/bg_left_nav.jpg) repeat-y -2px top;
	margin-left:98px;
}

BODY.wingoGame {
	background:#173A89 url(images/Peacekeeper-h.jpg) repeat left top;
}

img {
	border:none;
	vertical-align: bottom;
}

#wingoMenu {
	position:absolute;
	top:24px;
	left:0;
	display:none;
}
BODY.wingo #wingoMenu {
	display:block;
}

#wingoMenu a {
	display:block;
	padding:5px 0 5px 0;
	color: white;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size:1.25em;
	font-weight: bold;
	line-height: 1.1em;
	text-shadow: 3px 3px 3px #021124;
	margin-bottom: 6px;
}
#wingoMenu a span {
	display: inline-block;
	padding:0 7px 0 2px;
	font-family: inherit;
}
#wingoMenu a.picked,
#wingoMenu a:hover {
	padding:4px 0 4px 0;
	border-top: 1px solid #cc0033;
	border-right: 2px solid #cc0033;
	border-bottom: 1px solid #cc0033;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 2px 2px 3px #191970;
	text-decoration: none;

	background-color: #668066;
	background-image: -moz-linear-gradient(90deg, #cccc99, #003333);
	background-image: -ms-linear-gradient(90deg, #cccc99, #003333);
	background-image: -o-linear-gradient(90deg, #cccc99, #003333);
	background-image: -webkit-linear-gradient(90deg, #cccc99, #003333);
	background-image: linear-gradient(90deg, #cccc99, #003333);
}
#wingoMenu a.picked span,
#wingoMenu a:hover span {
	padding:0 5px 0 2px;
}

H1.wingoHeading,
H1.wingoHeading2 {
	clear:both;
	text-align: center;
	background-color:#ffffcc;
	border: 1px solid #778899;
	margin: 0px 40px;
	font-style: italic;
}
H1.wingoHeading2 {
	background-color:#eeeeee;
	font-weight: normal;
}

DIV.navWingo {
	margin: 2px 40px 0 40px;
}

DIV.navWingo UL {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

DIV.navWingo LI {display: inline;}

DIV.navWingo A {
	float: left;
	text-decoration: none;
}

DIV.navWingo SPAN {
	float: left;
	display: block;
	padding: 2px 8px 1px 8px;
	color: #191970;
	font-size: 9pt;
	white-space: nowrap;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
DIV.navWingo SPAN {float: none;}
/* End IE5-Mac hack */

DIV.navWingo A:hover {
	text-decoration: none;
	background: url(images/tabs/tab_wingo-right.gif) no-repeat right top;
	background-position: 100% -150px;
}

DIV.navWingo A:hover SPAN {
	background: url(images/tabs/tab_wingo-left.gif) no-repeat left top;
	background-position: 0% -150px;
	color: #191970;
}

DIV.navWingo .current A,
DIV.navWingo .current A:hover {
	background: url(images/tabs/tab_wingo-right.gif) no-repeat right top;
	background-position: 100% 0px;
	border-width: 0px;
}

DIV.navWingo .current SPAN,
DIV.navWingo .current A:hover SPAN {
	background: url(images/tabs/tab_wingo-left.gif) no-repeat left top;
	background-position: 0% 0px;
	color: white;
}

.pageWrap {
	margin: 0 40px;
}

#footer {
	clear: both;
}

#fbPrivacy {
	display:block;
	position:fixed;
	right:5px;
	bottom:5px;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	padding:2px 6px;
	color:#FFFFFF;
	background-color:#5B74A8;
	border:1px solid;
	border-color:#29447E #29447E #1A356E;
	text-decoration:none;
}

@media screen and (max-width: 800px) {

	BODY.wingo {
		background-image:none;
		margin-left:0;
	}
	BODY.wingo #wingoMenu {
		display:none;
	}
	h1.wingoHeading,
	h1.wingoHeading2 {
		margin: 0 10px;
	}
	DIV.navWingo {
		margin: 2px 10px 0 10px;
	}
	.pageWrap {
		margin: 0 10px;
	}

}
@media screen and (max-width: 520px) {

	footer img.ifWide {
		display:none;
	}

}
@media screen and (max-width: 440px) {
	footer td {
		font-size:1.5em !important;
	}
}


INPUT, TEXT, TEXTAREA, SELECT {color: #2b2b2b;}

.sm {font-size: 0.75em;}
.fs-1 {
	font-size: 0.8em;
}
.fs1 {
	font-size: 1.1em;
}
.fs2 {
	font-size: 1.5em;
}
.fs3 {
	font-size: 2.0em;
}

.wingoBay {
	position:absolute;
	top:-4px;
	left:20px;
	z-index:-1;
}
 
TABLE.dashBox {
	border-top: dashed 1px #dddddd;
	border-bottom: dashed 1px #dddddd;
	background-color : #FFFFFF;
}
DIV.dashBox {
	border-top: dashed 1px #dddddd;
	border-bottom: dashed 1px #dddddd;
	background-color : #FFFFFF;
	text-align : center;
	padding : 2px 0px 2px 0px;
	font-style : italic;
	font-weight : bold;
	width:270px;
}

TD.rightCol {
	width: 270px;
	vertical-align: top;
	padding:0 7px;
}

.timesRom {font-family : Times New Roman,serif; }
.clean {text-decoration:none;}
.sup {
	font-size: 11px;
	font-style: normal;
	position: relative;
	top: -3px;
}

A:link {
	color: #3300FF;
	text-decoration: none;
}
A:visited {
	color: #330099;
	text-decoration: none;
}
A:active {color: #FF0000; text-decoration: none;}
A.cleanBlue, A.cleanBlue:visited {text-decoration:none; color:#000099;}
A.cleanRed, A.cleanRed:visited {text-decoration:none; color:#008080;}
A:hover, A.cleanBlue:hover, A.cleanRed:hover {text-decoration: underline;}

A.wingoLC, A.wingoLC:visited {text-decoration:none; color:#008080;}
A.wingoLC:hover {
	text-decoration: underline;
	background-color: #f5f5f5;
}

.clearFloat {
	clear:both;
}

/* vertical space used throughout the site */
DIV.vSpace {
	margin-bottom: 10px;
	margin-top: 10px;
}

/* horizontal lines */
DIV.hLine {
	clear: both;
	border-bottom: 1px solid #696969;
}
DIV.hLinePad {
	clear: both;
	border-bottom: 1px solid #696969;
	margin: 10px 0px;
}

DIV.dotItems {padding: 0px;}
DIV.dotItems DIV {
	padding: 1px 1px 1px 22px;
	text-indent: -22px;
	font-size: smaller;
}

DIV.dotItems A.ballFlash {
	padding-left: 22px;
	background: url(images/b.gif) no-repeat left top;
	background-position: 0px 1px;
	font-size: medium;
	font-weight : bold;
}

DIV.dotItems A.ballFlash:hover {background: url(images/b-hi.gif) no-repeat left top;}

DIV.iconLinks {
	padding:10px 16px;
}
DIV.iconLinks P {
	text-indent:-25px;
	font-size:0.8em;
	padding:2px 0 2px 25px;
	margin:0;
}

A.iLink,
A.iLinkSm {
	background: url(images/icon_link_lo.gif) no-repeat left 2px;
	padding-left:25px;
	font-size:1.85em;
}
A.iLink:hover,
A.iLinkSm:hover {
	background-image: url(images/icon_link_hi.gif);
}
A.iLinkSm {
	font-size:1.4em;
}

.myBox {
	display:none;
	position:absolute;
	color:#FFFFFF;
	font-family:Verdana;
	font-size:smaller;
	text-align:center;
	border:2px solid #ffffff;
	padding:0.5em;
}

.myBox A {color: #ffffff;}
.myBox A {color: inherit;}
.myBox A:hover {color: #ffffff;}
