select {
	width:auto; /* override bootstrap */
}

body {
	padding: 0; /*  override responsive bootstrap */
	-webkit-text-size-adjust: none;
}

.btn-group > .dropdown-menu { /* override bootstrap */
	font-size: 16px;
}
.btn-group > .dropdown-menu li {
	line-height: 22px;
}

#wingo_ctrls {
	background-color: black;
}
#wingo_ctrls .wingo_logo {
	float: right;
	color:white;
	font-size:20px;
	line-height:30px;
	margin:0 10px 0 0;
	/* text-shadow: 1px 1px 1px #9acd32; */
}
#wingo_ctrls .btn-group {
	float: left;
	margin-left: 2px;
}
#wingo_ctrls .btn-group button {
	color: white;
}
#wingo_ctrls .hideElm {
	display: none;
}

#latLonVu {
	float: left;
	margin: 5px 0 0 10px;
	color: white;
}
#latLonVu span {
	color: black;
	background-color: #dcdcdc;
	border-radius: 5px;
	padding:2px 5px;
	text-shadow: 1px 1px 1px #585858;
}
@media screen and (max-width: 430px) {
	#latLonVu {
		display: none;
	}
}

#lat,
#long {
	width:75px;
}

#btnGoTo {
	clear: both;
	float: right;
	margin: 20px 0 0 5px;
}

#mapFrame {
	position:absolute;
	top:30px;
	left:0px;
	width:100%;
	height:100px;
	display: none;
	border:none;
	overflow:hidden;
	z-index: 1;
}

#myCrosshair {
	position: absolute;
	display: none;
	z-index: 2;
}

.panelWingoMap {
	position:absolute;
	top:35px;
	left:5px;
	padding: 3px 10px 10px 10px;
	background: #f5f5dc;
	border: 1px solid #556b2f;
	z-index: 3;
	display:none;
	opacity: 0.8;
}
.panelWingoMap p,
.panelWingoMap table {
	clear: both;
}
.panelWingoMap .xPanel {
	float: right;
	margin: 0 0 10px 10px;
}
.panelWingoMap .xPanel i {
	margin-left: 5px;
}
.panelWingoMap .hLinePad {
	border-bottom: 1px solid #dcdcdc;
	margin: 8px 0px;
}
.panelWingoMap .polyInput {width:60px;}
.panelWingoMap,
.panelWingoMap select,
.panelWingoMap .polyInput {
	margin-bottom: 4px;
}
.panelWingoMap textarea {
	margin-bottom: 0;
}

#panelLatLon .latLonZ {
	text-align:right;
	width:140px;
	margin-top:10px;
}

.panelWingoMap .posMap {
	text-align: center;
	font-style: italic;
	font-size: 0.9em;
}

.panelWingoMap ul.listWingoMap {
	width: 206px;
	max-height:200px;
	overflow: auto;
	margin:0;
}
.panelWingoMap ul.listWingoMap li {
	margin-bottom: 3px;
	text-align: right;
}
@media screen and (max-height: 460px) {
	.panelWingoMap ul.listWingoMap {
		max-height:75px;
	}
}

